
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #3E3E3E;
  background-color: #ffffff;
  font-size: 1.6rem;
}
.extra-design{
    font-size: 45px;
}

.img-hero{
    width: 800px;
}

.btn-custom{
    background-image: linear-gradient( #A4BC46, #85A019);
    color: white;
    font-size: 1.4rem;
    padding: 1.6rem 3.2rem;
    border-radius: 10px;
}

.btn-custom i{
    color: white;
    font-size: 1.4rem;
    margin-right: 5px; 
}
.m-c{
    margin-right: 1.5rem;
}

.custom__heading{
    font-size: 4.8rem;
    color: #363958;
    margin-bottom: 5rem;
    margin-top: 5rem;
    text-transform: uppercase;
}

.text-custom{
    color: #363958;
    font-size: 2.4rem;
}

.custom-font{
    font-size: 3.6rem;
    color: #FABE4C;
}

.custom-round{
    border-radius: 20px
}


.m-custom{
    margin-top: 10.5rem;
}

.wrapper{
    background-color: #FFFBF0;
}

.man{
    margin-top: 8rem;
}

.img-container{
    width: 334px;
    height: 320px;
}

.img-container img{
    width: auto;
    height: 269px;
}

.left img{
    width: 80px;
    height: 80px;
}

.bg__global{
    background-color: #E5E5E5;
}

.bold{
    font-weight: bolder;
    font-size: large;
}

.nav-icon-img{
    height: 4rem;
}
    
.useless__bg img{
    width: 150px;
    position: absolute;
    left: 41rem;
    top: 0;
    margin-top: -90px;
}

.navbar-light .navbar-nav .custom-nav-link,.navbar-light .navbar-nav .active > .custom-nav-link{ 
    color: #3C3C3C;
}

.custom-toggle{
    width: 2rem;
    height: 2rem;
}

.be-penguin{
    font-family: 'Bebas Neue', cursive;
    color: #FABE4C;
    font-size: 7.1rem;
}
.be-penguin span{
    color: #363958;
}

.hello{
    font-family: 'Bebas Neue', cursive;
    font-size: 45px;
    font-weight: lighter;
    margin: 120px 0px 40px 0px;
}

.img-bottom{
    width: 50rem;      
}

.mtop{
    margin-top: 8rem;   
}

.footer p{
    text-align: center;
    font-size: medium;
}
.elias{
    font-weight: bolder;
    font-size: large;
}